.card {
  background-color: pink;
  padding-bottom: 10px;
}

.content {
  padding: 15px;
}

button {
  background-color: greenyellow;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
