/* .card {
  padding-bottom: 10px;
}

.content {
  padding: 15px;
}

button {
  background-color: greenyellow;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
} */

#cardBg {
  border-color: #bdbdbd;
}

#cardPic {
  border-radius: 8%;
}

/* #nutrButton {
  background-color: #454849;
}
#nutrButton:hover {
  background-color: #174baa;
} */
