/* .card {
  padding-bottom: 10px;
}

.content {
  padding: 15px;
}

button {
  background-color: greenyellow;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
} */

#cardBg {
  border-color: #bdbdbd;
}

#cardPic {
  /* border-radius: 8%; */
  mix-blend-mode: multiply;
}

#cardName {
  font-size: 1.2em;
  font-weight: 600;
}

#nutrButton {
  float: none;
  margin: 0 auto;
}

#nutrButton:hover {
  color: #174baa;
}

#subCartName {
  font-size: 1em;
  font-weight: 600;
}
