/* .rightCol {
  background-color: white;
  flex-grow: 1;
  margin-bottom: 20px;
}

.leftCol {
  background-color: #afe5d5;
  flex-grow: 1;
}

.container {
  display: flex;
  align-items: stretch;
  flex: 1 1 auto;
}

.registerButton {
  background-color: #1ae891;
  color: #ffffff;
} */

/* without flexBox */

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "left right";
}

.leftCol {
  background: #afe5d5;
  border-radius: 64% 36% 100% 0% / 0% 100% 0% 100%;

  grid-area: "left";
}

.rightCol {
  background: #ffffff;
  grid-area: "right";
}
