/* .icon-img {
  width: 70px;
  height: 70px;
  margin-bottom: 2rem;
} */

/* #logoPage {
  max-height: 100%;
  max-width: 59%;
} */

.registerDir {
  align-items: center;
  justify-content: center;
  font-size: 2.7rem;
}

.leftCol {
  background: #afe5d5fd;
  border-radius: 48% 32% 1% 10% / 0% 88% 20% 0%;
  grid-area: "left";
  color: white;
}

#logo {
  width: 298px;
  height: 523px;
  margin-top: 20%;
}

.link {
  color: rgb(19, 22, 75);
}
